<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
      PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
    <link rel="alternate" type="application/rss+xml" title="Tradetonic.com RSS Feed" href="/feeds/latest" />

    <script type="text/javascript" src="site_media/js/svgweb/svg.js"/>
    <script type="text/javascript" src="site_media/js/prototype.js"/>
    
    <link rel="stylesheet" href="site_media/css/screen.css"/>
    <link rel="stylesheet" href="site_media/css/960.css"/>
    <title>Trade Tonic</title>
    
    <script LANGUAGE="javascript">
        function OnChangeQuote(dropdown)
        {
            var index = dropdown.selectedIndex
            var value = dropdown.options[index].value
            
            new Ajax.Updater('histogram','/quote/' + value, 
	        { 
              parameters:{object:value},
              evalScripts:true,
            }
            );
            
            new Ajax.Updater('params','/params/' + value, 
	        { 
              parameters:{object:value},
              evalScripts:true,
            }
            );
            
            
            return true;
        }
    </script>

</head>

<body>
  <!-- header container -->
  <div id="header-wrap">
    <div id="header" class="container_16">		
					
		<h1 id="logo-text"><a href="/" title="">Trade Tonic</a></h1>		
		<p id="intro">Fibonacci levels for traders</p>		
		
		<!-- navigation -->
		<div  id="nav">
			<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/">Fibonacci Levels</a></li>
			<li><a href="/">Tutorials</a></li>
			<li><a href="/">News &amp; press</a></li>
			<li><a href="/">Contact us</a></li>
		</ul>
		</div>
		<div id="header-image"></div> 
		
    </div>
  </div>
  <!-- header ends here -->
	  
  <div id="content-outer">
    <div class="container_16" id="content-wrapper">
        
        <div class="grid_12">
        
        <script LANGUAGE="javascript">
        <!--
        function OnChangeResolution(dropdown)
        {
            var index  = dropdown.selectedIndex
            var value = dropdown.options[index].value
            
            new Ajax.Request('/resolution/' + value, 
	                   { 
	                       onSuccess: function(transport){
                               //         var response = transport.responseText || "no response text";
                               //         alert("Success! \n\n" + response);
                                    },
                       parameters:{vote:pos, object:id}
                            }
                       );

            
            var baseURL  = ""
            top.location.href = baseURL;
            return true;
        }
        //-->
        </script>
        <select name=quotes onchange="javascript: OnChangeQuote(this);">
            {% for quote in quotes %}
                <option {% if quote.selected %} selected="yes" {% endif %} value="{{quote.id}}">{{quote.shortName}}</option>
            {% endfor %}
        </select>
        
        <select name=quotes onchange='OnChangeResolution(this.form.quotes);'>
            <option>Daily</option>
            <option>Weekly</option>
            <option>Monthly</option>
        </select>

        <form id="params">        
        {% if shortReversal %}
            {% include "tbt.html" %}
        {% else %}
            {% include "btb.html" %}
        {% endif %}
        </form>
        
        </div>
        
        <div class="clear"></div>
        
        <div class="grid_7" id="histogram">            
            {{ histochart|safe }}
        </div>

        <div class="grid_9" id="levels"> 
            {{ levelschart|safe }}
        </div>
      
      <!--
        <div id="left-columns" class="grid_3">
         	<div class="sidemenu">		
		      <h3>Recent News</h3>
			     We added a new fibonacci tool with improved odds support!
		    </div>
        </div>
      -->  
        <div class="clear"></div> 
       
        
    </div>
  </div>
            
  <div id="footer-bottom">
	
    <p class="bottom-left">			
			<p><a href=http://www.github.com/manast/plunatica>Trade Tonic</a> (c) 2009 - Manuel Astudillo and Johan Stén. Powered by <a href=http://www.djangoproject.com>Django</a> </p>
			<p>Site design based on <a href=http://www.styleshout.com/templates/preview/KeepItSimple1-0/index.html?PHPSESSID=6270a0d447ad5d2e48aef6b4f6f1ea5a>Keep It Simple</a>,
    </p>	
			
    <p class="bottom-right" >
	   <!-- <a href="index.html">Sitemap</a> |  -->
	    <a href="/feeds/latest" class="feed">RSS Feed</a> |
		<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
		<a href="http://validator.w3.org/check/referer">XHTML</a>
	</p>	
  </div>
    
  <div class="grid_16" id="bottombar">
  </div> 
   
</body>
</html>




