{% load tabmenu %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
      PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
    <link rel="alternate" type="application/rss+xml" title="Tradetonic.com RSS Feed" href="/feeds/latest" />
    
     <!-- Framework CSS -->  
    <link rel="stylesheet" href="/site_media/css/blueprint/screen.css" type="text/css" media="screen, projection" />  
    <link rel="stylesheet" href="/site_media/css/blueprint/print.css" type="text/css" media="print" />  
    <!--[if IE]><link rel="stylesheet" href="site_media/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->  
           
    <link rel="stylesheet" href="/site_media/css/tradetonic.css"/>
    
    <script type="text/javascript" src="/site_media/js/prototype.js"/>
    <script type="text/javascript" src="/site_media/js/svgweb/svg.js"/>
    

    <title>Trade Tonic</title>
    
    {% block head_scripts %}
    {% endblock %}
</head>

<body>
{% block init %}

{% endblock %}
        
<!-- header container --> 
<div class="container"> 
    <div id="header" class="span-24 last">
        	<h1><a href="/" title="">Trade Tonic</a></h1>		
		    <h3 class="alt">Fibonacci levels for traders</p>
    </div>

    <div class="span-20 last">	     
        {% tabmenu tabs %}
    </div> 
        
    <div class="span-21">     
        {% block main_pane %}
        <div class="span-20 last">
            empty
        </div>
        {% endblock %}  
    </div>

    <div class="span-3 last" id="sidebar">
        <div id="mini-news">
            <!-- Mininews holder -->
            <h2>News</h2>
        </div>
        <div id="links">
            <h2>Links</h2>
            <!-- Mininews holder -->
        </div>
    </div>
            
  <div class="span-24 box last">
	
    <p class="bottom-left">			
			<p><a href=http://www.github.com/manast/plunatica>Trade Tonic</a> (c) 2009 - Manuel Astudillo and Johan Stén. Powered by <a href=http://www.djangoproject.com>Django</a> </p>
			<p>Site design based on <a href=http://www.styleshout.com/templates/preview/KeepItSimple1-0/index.html?PHPSESSID=6270a0d447ad5d2e48aef6b4f6f1ea5a>Keep It Simple</a>,
    </p>	
			
    <p class="bottom-right" >
	   <!-- <a href="index.html">Sitemap</a> |  -->
	    <a href="/feeds/latest" class="feed">RSS Feed</a> |
		<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
		<a href="http://validator.w3.org/check/referer">XHTML</a>
	</p>	
  </div>
</div>
   
</body>
</html>




